body
    background-color #3a3e4a
    color #d2d2d2
    font-weight 400
    font-size 14px
    font-family "zpix", "Menlo", "Meslo LG", monospace, serif
    text-shadow 1px 1px 2px rgba(0, 0, 0, 20%)
    line-height: 1.725
    text-rendering geometricPrecision
    transition: background-color (1/2)s
    &::before
        content ''
        top 0
        left 0
        right 0
        bottom 0
        opacity 0.05
        display block
        position fixed
        background bottom 15% right 10% /auto 30em no-repeat
        background-image url("../img/bg.webp")
        z-index -1

a
    color #d2d2d2
    text-decoration none

a:focus,
a:hover
    color #699be9
    text-decoration underline

.footer
    text-align center
    margin-top 30px
    color #ccc

.clear
    clear both

.navdiv
    width 100%

.hd
    width 650px
    height 100%
    margin auto

@import "_partial/aplayer"
@import "_partial/valine"
@import "_partial/zpix" 
@import "_partial/index" 
@import "_partial/post" 
@import "_partial/markdown" 

.highlight table td,
.highlight table th,
.highlight table tr
    border 0px
    padding 0px

.highlight
    .code
        width 100%

[data-theme=light]
    background-color #fff
    color #51525d

[data-theme=dark]
    background-color #3a3e4a
    color #d2d2d2

.el-radio,
.el-checkbox
    position relative
    font-size 100%

label.el-radio,
label.el-checkbox
    display block
    cursor pointer

.el-radio>input[type="radio"],
.el-checkbox>input[type="checkbox"]
    display none

.el-radio>input[type="radio"][disabled],
.el-checkbox>input[type="checkbox"][disabled]
    cursor not-allowed

.el-radio>input[type="radio"]+.el-radio-style,
.el-checkbox>input[type="checkbox"]+.el-checkbox-style
    position relative
    display inline-block
    width 1.4em
    height 1.4em
    vertical-align middle
    cursor pointer

.el-radio>input[type="radio"]+.el-radio-style:hover:before,
.el-checkbox>input[type="checkbox"]+.el-checkbox-style:hover:before
    border-color #20a0ff

.el-radio>input[type="radio"]+.el-radio-style:before,
.el-checkbox>input[type="checkbox"]+.el-checkbox-style:before
    position absolute
    top 0
    left 0
    display inline-block
    width 1.4em
    height 1.4em
    content ''
    border 1px solid #C0CCDA

.el-radio>input[type="radio"]+.el-radio-style:after,
.el-checkbox>input[type="checkbox"]+.el-checkbox-style:after
    position absolute
    display none
    content ''

.el-radio>input[type="radio"][disabled]+.el-radio-style,
.el-checkbox>input[type="checkbox"][disabled]+.el-checkbox-style
    cursor not-allowed
    color #D3DCE6

.el-radio>input[type="radio"][disabled]+.el-radio-style:hover,
.el-radio>input[type="radio"][disabled]+.el-radio-style:before,
.el-radio>input[type="radio"][disabled]+.el-radio-style:after,
.el-checkbox>input[type="checkbox"][disabled]+.el-checkbox-style:hover,
.el-checkbox>input[type="checkbox"][disabled]+.el-checkbox-style:before,
.el-checkbox>input[type="checkbox"][disabled]+.el-checkbox-style:after
    cursor not-allowed

.el-radio>input[type="radio"][disabled]+.el-radio-style:hover:before,
.el-checkbox>input[type="checkbox"][disabled]+.el-checkbox-style:hover:before
    border 1px solid #D3DCE6
    animation-name none

.el-radio>input[type="radio"][disabled]+.el-radio-style:before,
.el-checkbox>input[type="checkbox"][disabled]+.el-checkbox-style:before
    border-color #D3DCE6

.el-radio>input[type="radio"]:checked+.el-radio-style:before,
.el-checkbox>input[type="checkbox"]:checked+.el-checkbox-style:before
    animation-name none

.el-radio>input[type="radio"]:checked+.el-radio-style:after,
.el-checkbox>input[type="checkbox"]:checked+.el-checkbox-style:after
    display block

.el-radio
    & > input[type="radio"]
        & + .el-radio-style
            &:before
                border-radius 50%
            &:after
                top 0.4em
                left 0.4em
                width 0.6em
                height 0.6em
                border-radius 50%
                background #20a0ff
    & > input[type="radio"]:checked
        & + .el-radio-style
            &:before
                border 1px solid #20a0ff
    & > input[type="radio"]:checked[disabled]
        & + .el-radio-style
            &:before
                border 1px solid #b0d7f5
            &:after
                background #b0d7f5

.el-checkbox
    & > input[type="checkbox"]
        & + .el-checkbox-style
            &:before
                border-radius 3px
            &:after
                top 0.15em
                left 0.5em
                box-sizing border-box
                width 0.4em
                height 0.85em
                transform rotate(45deg)
                border-right 2px solid #fff
                border-bottom 2px solid #fff
    & > input[type="checkbox"]:checked
        & + .el-checkbox-style
            &:before
                border #20a0ff
                background #20a0ff
    & > input[type="checkbox"]:checked[disabled]
        & + .el-checkbox-style
            &:before
                border #b0d7f5
                background #b0d7f5

.el-radio.el-radio-blue>input[type="radio"]+label:hover:before,
.el-checkbox.el-checkbox-blue>input[type="checkbox"]+label:hover:before,
.el-radio.el-radio-blue>input[type="radio"]:checked+label:before,
.el-checkbox.el-checkbox-blue>input[type="checkbox"]:checked+label:before
    border-color #20a0ff

.el-checkbox.el-checkbox-blue>input[type="checkbox"]:checked+label:before,
.el-radio.el-radio-blue>input[type="radio"]+label:after
    background #20a0ff

.el-radio.el-radio-blue>input[type="radio"][disabled]+label:hover:before,
.el-checkbox.el-checkbox-blue>input[type="checkbox"][disabled]+label:hover:before
    border-color #D3DCE6

.el-checkbox.el-checkbox-blue>input[type="checkbox"]:checked[disabled]+label:before,
.el-radio.el-radio-blue>input[type="radio"]:checked[disabled]+label:before
    border-color #b0d7f5

.el-checkbox.el-checkbox-blue>input[type="checkbox"][disabled]:checked+label:before,
.el-radio.el-radio-blue>input[type="radio"]:checked[disabled]+label:after
    background #b0d7f5

.el-radio.el-radio-green>input[type="radio"]+label:hover:before,
.el-checkbox.el-checkbox-green>input[type="checkbox"]+label:hover:before,
.el-radio.el-radio-green>input[type="radio"]:checked+label:before,
.el-checkbox.el-checkbox-green>input[type="checkbox"]:checked+label:before
    border-color #13ce66

.el-checkbox.el-checkbox-green>input[type="checkbox"]:checked+label:before,
.el-radio.el-radio-green>input[type="radio"]+label:after
    background #13ce66

.el-radio.el-radio-green>input[type="radio"][disabled]+label:hover:before,
.el-checkbox.el-checkbox-green>input[type="checkbox"][disabled]+label:hover:before
    border-color #D3DCE6

.el-checkbox.el-checkbox-green>input[type="checkbox"]:checked[disabled]+label:before,
.el-radio.el-radio-green>input[type="radio"]:checked[disabled]+label:before
    border-color #a1efc4

.el-checkbox.el-checkbox-green>input[type="checkbox"][disabled]:checked+label:before,
.el-radio.el-radio-green>input[type="radio"]:checked[disabled]+label:after
    background #a1efc4

.el-radio.el-radio-red>input[type="radio"]+label:hover:before,
.el-checkbox.el-checkbox-red>input[type="checkbox"]+label:hover:before,
.el-radio.el-radio-red>input[type="radio"]:checked+label:before,
.el-checkbox.el-checkbox-red>input[type="checkbox"]:checked+label:before
    border-color #ff4949

.el-checkbox.el-checkbox-red>input[type="checkbox"]:checked+label:before,
.el-radio.el-radio-red>input[type="radio"]+label:after
    background #ff4949

.el-radio.el-radio-red>input[type="radio"][disabled]+label:hover:before,
.el-checkbox.el-checkbox-red>input[type="checkbox"][disabled]+label:hover:before
    border-color #D3DCE6

.el-checkbox.el-checkbox-red>input[type="checkbox"]:checked[disabled]+label:before,
.el-radio.el-radio-red>input[type="radio"]:checked[disabled]+label:before
    border-color #f9b3b3

.el-checkbox.el-checkbox-red>input[type="checkbox"][disabled]:checked+label:before,
.el-radio.el-radio-red>input[type="radio"]:checked[disabled]+label:after
    background #f9b3b3

.el-radio.el-radio-yellow>input[type="radio"]+label:hover:before,
.el-checkbox.el-checkbox-yellow>input[type="checkbox"]+label:hover:before,
.el-radio.el-radio-yellow>input[type="radio"]:checked+label:before,
.el-checkbox.el-checkbox-yellow>input[type="checkbox"]:checked+label:before
    border-color #f7ba2a

.el-checkbox.el-checkbox-yellow>input[type="checkbox"]:checked+label:before,
.el-radio.el-radio-yellow>input[type="radio"]+label:after
    background #f7ba2a

.el-radio.el-radio-yellow>input[type="radio"][disabled]+label:hover:before,
.el-checkbox.el-checkbox-yellow>input[type="checkbox"][disabled]+label:hover:before
    border-color #D3DCE6

.el-checkbox.el-checkbox-yellow>input[type="checkbox"]:checked[disabled]+label:before,
.el-radio.el-radio-yellow>input[type="radio"]:checked[disabled]+label:before
    border-color #fbeac1

.el-checkbox.el-checkbox-yellow>input[type="checkbox"][disabled]:checked+label:before,
.el-radio.el-radio-yellow>input[type="radio"]:checked[disabled]+label:after
    background #fbeac1

.el-switch,
.el-switch-style,
.el-switch-style:before
    -webkit-box-sizing border-box
    -moz-box-sizing border-box
    box-sizing border-box

.el-switch
    display inline-block
    font-size 100%
    height 1.6em
    position relative
    .el-switch-style
        height 1.6em
        left 0
        background #C0CCDA
        -webkit-border-radius 0.8em
        border-radius 0.8em
        display inline-block
        position relative
        top 0
        -webkit-transition all 0.3s ease-in-out
        transition all 0.3s ease-in-out
        width 3em
        cursor pointer
        &:before
            display block
            content ''
            height 1.4em
            position absolute
            width 1.4em
            background-color #fff
            -webkit-border-radius 50%
            border-radius 50%
            left 0.1em
            top 0.1em
            -webkit-transition all 0.3s ease-in-out
            transition all 0.3s ease-in-out
    & > input[type="checkbox"]
        display none
    & > input[type="checkbox"][disabled]
        & + .el-switch-style
            cursor not-allowed
            background-color #D3DCE6
    & > input[type="checkbox"]:checked
        & + .el-switch-style
            background-color #20a0ff
            &:before
                left 50%
    & > input[type="checkbox"]:checked[disabled]
        & + .el-switch-style
            background-color #b0d7f5
    &.el-switch-blue
        & > input[type="checkbox"]:checked
            & + .el-switch-style
                background-color #20a0ff
        & > input[type="checkbox"]:checked[disabled]
            & + .el-switch-style
                background-color #b0d7f5
    &.el-switch-green
        & > input[type="checkbox"]:checked
            & + .el-switch-style
                background-color #13ce66
        & > input[type="checkbox"]:checked[disabled]
            & + .el-switch-style
                background-color #a1efc4
    &.el-switch-red
        & > input[type="checkbox"]:checked
            & + .el-switch-style
                background-color #ff4949
        & > input[type="checkbox"]:checked[disabled]
            & + .el-switch-style
                background-color #f9b3b3
    &.el-switch-yellow
        & > input[type="checkbox"]:checked
            & + .el-switch-style
                background-color #f7ba2a
        & > input[type="checkbox"]:checked[disabled]
            & + .el-switch-style
                background-color #fbeac1

.el-radio.el-radio-sm,
.el-checkbox.el-checkbox-sm,
.el-switch.el-switch-sm
    font-size 85%

.el-radio.el-radio-lg,
.el-checkbox.el-checkbox-lg,
.el-switch.el-switch-lg
    font-size 125%

.breadcrumb
    margin-bottom 20px
    list-style none
    border-radius 4px
    & > li
        display inline-block
        & + li
            &:before
                padding 0 5px
                color #ccc
                content "&\00a0"
    & > .active
        color #777

.breadcrumbhr
    margin-top -15px
    margin-bottom -15px

.back-to-top-btn
    position fixed
    background-color #4b5e7b
    width 40px
    color #fff
    height 40px
    line-height 40px
    text-align center
    border-radius 100%
    right 30px
    bottom 25px
    display none

.shake 
    animation shake 7s infinite ease-in-out
    display inline-block

@keyframes shake 
    2%
    24%
    80% 
        -webkit-transform translate(0, 1.5px) rotate(1.5deg)
        transform translate(0, 1.5px) rotate(1.5deg)
    
    4%
    68%
    98% 
        -webkit-transform translate(0, -1.5px) rotate(-.5deg)
        transform translate(0, -1.5px) rotate(-.5deg)
    
    38%
    6% 
        -webkit-transform translate(0, 1.5px) rotate(-1.5deg)
        transform translate(0, 1.5px) rotate(-1.5deg)
    
    8%
    86% 
        -webkit-transform translate(0, -1.5px) rotate(-1.5deg)
        transform translate(0, -1.5px) rotate(-1.5deg)
    
    10%
    72% 
        -webkit-transform translate(0, 2.5px) rotate(1.5deg)
        transform translate(0, 2.5px) rotate(1.5deg)
    
    12%
    64%
    78%
    96% 
        -webkit-transform translate(0, -.5px) rotate(1.5deg)
        transform translate(0, -.5px) rotate(1.5deg)
    
    14%
    54% 
        -webkit-transform translate(0, -1.5px) rotate(1.5deg)
        transform translate(0, -1.5px) rotate(1.5deg)
    
    16% 
        -webkit-transform translate(0, -.5px) rotate(-1.5deg)
        transform translate(0, -.5px) rotate(-1.5deg)
    
    18%
    22% 
        -webkit-transform translate(0, .5px) rotate(-1.5deg)
        transform translate(0, .5px) rotate(-1.5deg)
    
    20%
    36%
    46% 
        -webkit-transform translate(0, -1.5px) rotate(2.5deg)
        transform translate(0, -1.5px) rotate(2.5deg)
    
    26%
    50% 
        -webkit-transform translate(0, .5px) rotate(.5deg)
        transform translate(0, .5px) rotate(.5deg)
    
    28% 
        -webkit-transform translate(0, .5px) rotate(1.5deg)
        transform translate(0, .5px) rotate(1.5deg)
    
    30%
    40%
    62%
    76%
    88% 
        -webkit-transform translate(0, -.5px) rotate(2.5deg)
        transform translate(0, -.5px) rotate(2.5deg)
    
    32%
    34%
    66% 
        -webkit-transform translate(0, 1.5px) rotate(-.5deg)
        transform translate(0, 1.5px) rotate(-.5deg)
    
    42% 
        -webkit-transform translate(0, 2.5px) rotate(-1.5deg)
        transform translate(0, 2.5px) rotate(-1.5deg)
    
    44%
    70% 
        -webkit-transform translate(0, 1.5px) rotate(.5deg)
        transform translate(0, 1.5px) rotate(.5deg)
    
    48%
    74%
    82% 
        -webkit-transform translate(0, -.5px) rotate(.5deg)
        transform translate(0, -.5px) rotate(.5deg)
    
    52%
    56%
    60% 
        -webkit-transform translate(0, 2.5px) rotate(2.5deg)
        transform translate(0, 2.5px) rotate(2.5deg)
    
    58% 
        -webkit-transform translate(0, .5px) rotate(2.5deg)
        transform translate(0, .5px) rotate(2.5deg)
    
    84% 
        -webkit-transform translate(0, 1.5px) rotate(2.5deg)
        transform translate(0, 1.5px) rotate(2.5deg)
    
    90% 
        -webkit-transform translate(0, 2.5px) rotate(-.5deg)
        transform translate(0, 2.5px) rotate(-.5deg)
    
    92% 
        -webkit-transform translate(0, .5px) rotate(-.5deg)
        transform translate(0, .5px) rotate(-.5deg)
    
    94% 
        -webkit-transform translate(0, 2.5px) rotate(.5deg)
        transform translate(0, 2.5px) rotate(.5deg)
    
    0%
    100% 
        -webkit-transform translate(0, 0) rotate(0)
        transform translate(0, 0) rotate(0)

@media screen and (max-width: 768px)
    body
        &::before
            background center/cover no-repeat
            background-image url("../img/mini-bg.webp")

    .hd
        width 90%
        margin auto

    .logodiv
        margin-top 20px

    .posts
        .replay-btn
            display none
        .post-title
            font-size 16px
    
    .posttime
        display none
    
    .postname
        overflow hidden
        text-overflow ellipsis
        white-space nowrap