.aplayer
    width 90%
    margin 1.5em auto !important
    transition background 0.5s
    .aplayer-lrc
        &::before
        &::after
            background none !important

[data-theme="dark"] .aplayer
        background rgba(0, 0, 0, 23/25) !important