.posts
    .replay-btn
        background-color #4b5e7b
        width 40px
        color #fff
        height 40px
        line-height 40px
        text-align center
        border-radius 100%
        position absolute

    .post-title
        text-align center
        font-size 24px
        font-family 'zpix', serif
        line-height 40px
        margin-bottom 10px

    .post-content
        font-family serif
        a
            color #699be9
        a[data-fancybox] img
            display block
            box-shadow 0 4px 8px 0 rgba(0 0 0 18%)
            max-width 90%
            margin 1.5em auto
        
    .post-overdue-notice
        padding 10px 20px
        background-color rgba(255, 245, 110, 1)
        line-height 20px
        margin 15px 0
        color #333
        font-size 12px
    
    .notice-bell
        margin-right 5px

    .fhr
        margin 20px 0 20px 0

    .highlight
        .gutter
            .hljs
                border-top-left-radius 5px
                border-bottom-left-radius 5px

    .highlight 
        .code
            .hljs
                border-top-right-radius 5px
                border-bottom-right-radius 5px