.v[data-class="v"]
    p
        color inherit !important
    
    .vempty
        color inherit !important

    .vedit // no effect in the textarea property
        textarea
            resize none
        &::before
            content ''
            top 0
            left 0
            right 0
            bottom 0
            opacity 0.15
            display block
            position absolute
            background top right / 10em no-repeat
            background-image url("../img/bg.webp")
            z-index -1
        // &:hover
        //     &::before
        //         background-image none !important

    .vcards
        .vcard
            .vquote
                border-left 0 !important
            .vh
                border-bottom 0 !important
            // .vimg
            //     transform rotate(0)
            //     transition transform 0.6s ease
            //     &:hover
            //         transform rotate(10deg)

@media screen and (max-width: 768px)
    .vedit::before
        background-image none !important
